pkgbase = heroku-cli
	pkgdesc = a tool for creating and managing Heroku apps from the command line
	pkgver = 7.39.1
	pkgrel = 1
	url = https://devcenter.heroku.com/articles/heroku-cli
	arch = x86_64
	license = custom
	license = ISC
	makedepends = npm
	depends = nodejs
	optdepends = git: Deploying to Heroku
	conflicts = heroku-client-standalone
	conflicts = heroku-toolbelt
	conflicts = ruby-heroku
	noextract = heroku-7.39.1.tgz
	options = !strip
	source = https://registry.npmjs.org/heroku/-/heroku-7.39.1.tgz
	sha256sums = fbc3e8a58551686791c2c9d4aa67dc5b2f025a1fdcdde9ed13e80e624cb6084b
	sha512sums = ec4169ba18149a5750ab5364df55c7d01f76d43309aa4ec1c3484008037a67ea95eab8d09f4a70866cdca24977fa264e39c7d98db90b98ddbc95a8f284e1063e

pkgname = heroku-cli

